.popup__text {
  margin: 14px 0 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 568px) {
  .popup__text {
    margin-top: 10px;
    font-size: 9px;
  }
}