.popup__list-item_type_badge {
  display: flex;
  align-items: center;
  padding: 2px;
  max-width: 109px;
  height: 21px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}