.popup__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.popup__list::-webkit-scrollbar {
  width: 4px;
}

.popup__list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.popup__list::-webkit-scrollbar-thumb {
  background-color: #545454;
}

@media screen and (max-width: 568px) {
  .popup__list {
    max-height: 130px;
    gap: 8px;
  }
}
