.card__control-button {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s linear;
}

.card__control-button:hover {
  opacity: 0.5;
}