.popup__info-term {
  display: flex;
  align-items: center;
  padding: 1px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  white-space: nowrap;
  flex-shrink: 0;
}