.popup__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 568px) {
  .popup__info {
    gap: 8px;
  }
}