.popup__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 12px 0 0;
  font-size: 11px;
  line-height: 1.3;
}


@media screen and (max-width: 568px) {
  .popup__info {
    margin-top: 10px;
    gap: 3px;
    font-size: 8px;
  }
}