.popup__content_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 430px;
}

@media screen and (max-width: 568px) {
  .popup__content_content_info {
    max-width: calc(100% - 80px);
    padding: 25px 20px;
    gap: 16px;
  }
}